<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial- scale=1, shrink-to-fit=no">
    <title>JA-Dex - Pokémon</title>

    <link rel="icon" href="/static/img/ja-icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <link rel="stylesheet" href="/static/css/app.css">

</head>
<body style="background-image:url('../static/img/wallpaper_.png')">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #EE3E3E">
    <a class="navbar-brand" href="/">
        <img src="/static/img/jadex-logo.png" width="75" height="" alt="25">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if est_connecte %}
            <li class="nav-item active">
                <a class="nav-link" href="/collection" style="margin-left: 2rem;color: white;font-size: larger; font-weight: bold">Collections <span class="sr-only">(current)</span></a>
            </li>
            {% endif %}
        </ul>
        <form  method="POST" action="/" class="form-inline my-2 my-lg-0">
            {{ form.csrf_token }}
            <input type="text" id="autocomplete" name="pokemon" class="form-control mr-sm-2" list="list-pokemon">
            <datalist id="list-pokemon">
                {% for pokemon_name in pokemon_names %}
                    <option value="{{ pokemon_name }}">
                {% endfor %}
            </datalist>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Rechercher</button>
        </form>
        {% if est_connecte %}
            <div class="logs">
            <a  href="/logout">Logout</a>
            <p>{{ nom }}</p>
            </div>
        {% else %}
            <div class="logs">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
        {% endif %}
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col" style="width: 30rem; height: 27rem;margin-top: 7.5%">
            <div class="card" style="opacity: 95%; width: 100%">
                <div class="card-body" >
                    <h5 class="card-title">{{ info['name']['fr'] if info['name'] else 'Nom non disponible' }}</h5>
    <h5 class="card-text">Type(s) :
        {% if info['types'] %}
            {% for type in info['types'] %}
                <img src="{{ type['image'] }}" style="width: 50px; height: 50px; border-radius: 5rem">
            {% endfor %}
        {% else %}
            Types non disponibles
        {% endif %}
    </h5>
    <p class="card-text">
        {% if info['stats'] %}
            PV: {{ info['stats']['hp'] if info['stats']['hp'] else 'Non disponible' }}<br>
            Attaque: {{ info['stats']['atk'] if info['stats']['atk'] else 'Non disponible' }}<br>
            Défense: {{ info['stats']['def'] if info['stats']['def'] else 'Non disponible' }}<br>
            Attaque spéciale: {{ info['stats']['spe_atk'] if info['stats']['spe_atk'] else 'Non disponible' }}<br>
            Défense spéciale: {{ info['stats']['spe_def'] if info['stats']['spe_def'] else 'Non disponible' }}<br>
            Vitesse: {{ info['stats']['vit'] if info['stats']['vit'] else 'Non disponible' }}<br>
        {% else %}
            Statistiques non disponibles
        {% endif %}
    </p>
    <p class="card-text">Taille: {{ info['height'] if info['height'] else 'Non disponible' }}<br>Poids: {{ info['weight'] if info['weight'] else 'Non disponible' }}</p>
<script id="myScript">
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/getFileName/{{ info['pokedexId'] }}', true);
    xhr.send();

    xhr.onreadystatechange = function() {
        if (this.readyState == 4) {
            var filePath = this.responseText;

            if (filePath !== "none") {
                // Création de l'élément audio
                var audio = document.createElement("audio");
                audio.id = 'mySong';
                audio.src = filePath;
                audio.controls = true;
                audio.style.width = '75%';

                // Récupération du parent de l'élément script
                var parent = document.getElementById('myScript').parentNode;

                // Insertion de l'élément audio avant l'élément script
                parent.insertBefore(audio, document.getElementById('myScript'));

                audio.load();
                audio.oncanplaythrough = function() {
                    this.play();
                }
            }
        }
    }
</script>



                    {% if est_connecte %}
                    {% if inCollection %}
                        <button><a href="/suppCollection/{{ id_pokemon }}">Supprimer de votre Collection</a></button>
                    {% else %}
                        <button ><a href="/ajoutCollection/{{ id_pokemon }}">Ajouter a votre Collection</a></button>
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </div>
    <div class="col">
            <div class="card.ms-auto position-relative" style="width: 25rem;margin-top: 2rem;display: inline-block;text-align: center;min-width: auto;margin-right:10vh ">
                <img src="/static/img/pokedex-template.png" class="card-img-top" style="border-radius: 2rem;position: absolute">
                <img src="/static/img/background-forest.png" class="card-img" style="position: absolute;width:54%;transform: translateX(42%) translateY(92%); border-radius: 5px">
                <img src="{{ info['sprites']['regular'] }}" class="card-img" style="position: absolute;width:40%;transform: translateX(75%) translateY(110%)">
            </div>
    </div>
    </div>
</div>


{#Styles#}
<style>
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
* {
    font-family: 'Anonymous Pro', sans-serif;
}
.card-title{
    font-weight: bold;
    font-size: x-large;
}
.card-text{
    font-size: large;
}

</style>
{#Scripts#}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
